@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Лёд </title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="~/css/Index.css" />

</head>

<body>
    <header>
        <p> hi </p>
    </header>
</body>
</html>